#logbody {
	/*background-color: #C3BAB6;*/
	background-image: url(../../assets/images/ham.jpeg);
	background-size: cover; 
}

#logbody .container {
	min-height: 678px;
}

#landbody {
	background-color: whitesmoke;
}

#aboutbody {
	background-image: url(../../assets/images/pillars.jpg);
	background-size: cover; 
}

#contactbody {
	background-image: url(../../assets/images/court2.jpg);
	background-size: cover; 
	/*background-color: #C8C9CF; */
}

#lognav:hover {
	color: #264FCC;
}

#navbarText ul li {
	padding-left: 50px;
}

.navbar-brand {
	font-size: 30px;
}

.card {
	margin-top: 150px;
	background-color: whitesmoke; 
	opacity: 0.9
}

#homebody .card {
	margin-top: 30px;
}

#homebody .card img {
	width: 300px;
	height: 300px;
}

#homebody .card a .card-title {
	color: black;
}

#law {
	opacity: 0.7;
}

nav #navTexts ul li {
	padding-left: 50px;
	font-size: 18px;
}

footer {
	background-color: black; 
	height: 80px;
}

footer p {
	margin-top: 20px;
}

footer .float-left {
	color: whitesmoke;
	margin-left: 20px;
}

footer .float-right a {
	color: whitesmoke;
	margin-right: 20px;
}


@media screen and (max-width: 991px) and (min-width: 240px) {
	#lwyrs {
		width: 70%;
	}

	#uspic {
		width: 80%;
	}

	.carousel-inner img {
		height: 300px;
	}
}